body {
  /*background: url('../img/bgRange.svg') #919B9D no-repeat 50% 138px;*/
  background: #919B9D;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: .05em;
  word-spacing: .02em;
  line-height: 1.5em;
  height: 100vh;
  color: white;
}

body.modal {
  overflow: hidden;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: .05em;
  word-spacing: .02em;
  background: #DFBA8B;
}
button:hover {
  background: #c3a278; // gold hover color
  cursor: pointer;
}
label {
  color: #DFBA8B;
  display: block;
}
h1 {
  color: #95CFE9;
  text-align: center;
}
nav {
  margin-bottom: 8em;
  color: rgba(255, 255, 255, 0.5);
  font-size: .8em;
  text-align: center;
}
nav a:hover {
  color: white;
  cursor: pointer;
}
.bodyInner {
  background: #41403E;
  background-image: url('../img/mountainRange.svg'); /* fallback */
  background-image: url('../img/mountainRange.svg'), linear-gradient(#919B9D, #41403E);
  background-position: 50% 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.heroTitle {
  font-size: 4em;
  margin: 3em;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px #000;
}
.container {
  max-width: 900px;
  margin: auto;
}

.inputForm {
  max-width: 600px;
  margin: 2em auto;
}

.inputForm input, .inputForm textarea {
  width: calc(100% - 4px);
  border: none;
  padding: 5px 2px;
}

.inputForm input {
  height: 2em;
}

.send {
  height: 32px;
  color: white;
  padding: 2px;
  border: none;
  width: 100%;
  font-size: 14px;
}

.inline {
  display: inline-block;
  width: 49%;
  vertical-align: bottom;
  /*padding-left: 1em;*/
}

.fieldGroup.inline:nth-of-type(3) {
  padding-left: 0.4em;
}

.goalUnit {
  color: black;
  background: white;
  padding: 20px;
  min-height: 95px;
}

.goalUnit:nth-of-type(odd) {
  background: #D5D5D5;
}

.date {
  color: rgba(0, 0, 0, 0.5);
}

.name {
  font-style: italic;
  float: right;
}
.goalFilters {
  color: #DFBA8B;
}
.goalFilters span {
  float: right;
  margin-left: 1em;
}
.goalFilters .goalsPosted {
  margin-left: 0;
  float: none;
}

.goalsPosted {
  display: inline-block;
}

.feedback {
  min-height: 24px;
  text-align: center;
  color: #95CFE9;
  margin-top: 5px;
}
#whyBox {
  top: 20%;
  position: fixed;
  left: 50%;
}
#whyBox .inner {
  position: absolute;
  padding: 20px;
  left: calc(50% - 250px);
  top: 20px;
  height: 300px;
  width: 500px;
  background: rgba(0, 0, 0, 0.72);
  color: white;
  z-index: 1;
}
#whyBox::after {
  content: '';
  position: fixed;
  /*position: absolute;*/
  top: 0;
  width: 100%;
  background: rgba(150, 157, 167, 0.77);
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
}
#whyBox a {
  color: #DFBA8B;
}
.close {
  float: right;
  color: #DFBA8B;
  margin-top: -15px;
  margin-right: -10px;
}

.close:hover {
  cursor: pointer;
  color: #c3a278; // gold hover color
}
.container {
  z-index: 4;
}
.title {
  color: #95CFE9;
  margin-top: 20px;
}

.goalBody {
  max-height: 300px;
  overflow: scroll;
}
